<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="~{tipoColaborador/layoutBaseTipoColaborador :: head}"></head>
  <body>
    <div class="sidebar">
      <div th:replace="~{layoutBase :: mensagem}"></div>
      <div th:replace="~{layoutBase :: CENS-GIO}"></div>
      <div th:replace="~{layoutBase :: menu}"></div>
    </div>

    <div class="body">
      <h4 id="body-title">Tipos de Colaborador</h4>
      <form class="register-div" th:object="${tipoColaboradorDto}" method="post">
        <div th:replace="~{tipoColaborador/layoutBaseTipoColaborador :: form}"></div>
        <h5 id="fields-message">*Campos obrigatórios</h5>
        <button id="submit-btn" type="submit"> Salvar </button>
      </form>

      <div th:each="tipoColaborador : ${listaDeTiposDeColaborador}">
        <p>
        <div>

        Descricao:  <span th:text="${tipoColaborador.descricao}"></span>
        Ativo:      <span th:text="${tipoColaborador.ativo}"></span>

          <form action="#" th:action="@{tiposDeColaborador/delete/{id}(id=${tipoColaborador.id})}" method="post">
            <button type="submit"> Deletar </button>
          </form>

          <form th:action="@{tiposDeColaborador/update/{id}(id=${tipoColaborador.id})}" method="get">
            <button type="submit"> Editar </button>
          </form>
        </div>
        </p>
      </div>
    </div>
  </body>
</html>