<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="~{localizacao/layoutBaseLocalizacao :: head}"></head>
  <body>
    <div class="sidebar">
      <div th:replace="~{layoutBase :: mensagem}"></div>
      <div th:replace="~{layoutBase :: CENS-GIO}"></div>
      <div th:replace="~{layoutBase :: menu}"></div>
    </div>

    <div class="body">
      <h4 id="body-title">Localizações</h4>

      <form class="register-div" th:object="${localizacaoDto}" method="post">
        <div th:replace="~{localizacao/layoutBaseLocalizacao :: form}"></div>
        <h5 id="fields-message">*Campos obrigatórios</h5>
        <button id="submit-btn" type="submit"> Atualizar </button>
      </form>
    </div>

  </body>
</html>