<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="~{setor/layoutBaseSetor :: head}"></head>
  <body>
    <div th:replace="~{layoutBase :: mensagem}"></div>
    <div th:replace="~{layoutBase :: menu}"></div>

    Usuário logado: <span sec:authentication="principal.username"/>
    <a class="link-primary" th:href="@{/logout}">Logout</a>

    <p>

    Formulário
    <form th:object="${setorDto}" method="post">
      <div th:replace="~{setor/layoutBaseSetor :: form}"></div>
      <button type="submit"> Salvar </button>
    </form>

    <div th:each="setor : ${listaDeSetores}">
      <p>
      <div>

        Sigla:   <span th:text="${setor.sigla}"></span>
        Descriçao:  <span th:text="${setor.descricao}"></span>
        Responsável:     <span th:text="${setor.responsavel}"></span>
        Nível: <span th:text="${setor.nivel}"></span>

        <form action="#" th:action="@{setores/delete/{id}(id=${setor.id})}" method="post">
          <button type="submit"> Deletar </button>
        </form>

        <form th:action="@{setores/update/{id}(id=${setor.id})}" method="get">
          <button type="submit"> Editar </button>
        </form>
      </div>
      </p>
    </div>
  </body>
</html>