<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="~{setor/layoutBaseSetor :: head}"></head>
  <body>
    <div class="sidebar">
      <div th:replace="~{layoutBase :: mensagem}"></div>
      <div th:replace="~{layoutBase :: CENS-GIO}"></div>
      <div th:replace="~{layoutBase :: menu}"></div>
    </div>

    <div class="body">
      <h4 id="body-title">Setores</h4>
      <form class="register-div" th:object="${setorDto}" method="post" th:action="@{/setores}">
        <div th:replace="~{setor/layoutBaseSetor :: form}"></div>
        <h5 id="fields-message">*Campos obrigatórios</h5>
        <button id="submit-btn" type="submit"> Salvar </button>
      </form>

      Filtros
      <form class="register-div" th:object="${filtrarSetorDto}" method="post" th:action="@{/setores/filtrar}">
        <div th:replace="~{setor/layoutBaseSetor :: form}"></div>
        <button id="submit-btn" type="submit"> Buscar </button>
      </form>

      Quantidade: <div th:text="${listaDeSetores.getTotalElements}"></div>

      <div th:each="setor : ${listaDeSetores}">
        <p>
        <div>

          Sigla:   <span th:text="${setor.sigla}"></span>
          Descriçao:  <span th:text="${setor.descricao}"></span>
          Responsável:     <span th:text="${setor.responsavel}"></span>
          Nível: <span th:text="${setor.nivel}"></span>
          Ativo:           <span th:text="${setor.ativo}"></span>
          
          <form action="#" th:action="@{/setores/delete/{id}(id=${setor.id})}" method="post">
            <button type="submit"> Deletar </button>
          </form>

          <form th:action="@{/setores/update/{id}(id=${setor.id})}" method="get">
            <button type="submit"> Editar </button>
          </form>
        </div>
        </p>
      </div>
    </div>
  </body>
</html>