<!--suppress ALL -->
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div th:fragment="form">

    Descricao:  <input th:field="*{descricao}"  type="text">
    <div th:errors="*{descricao}">Erro descricao</div>

    Marca:      <input th:field="*{marca}"      type="text">
    <div th:errors="*{marca}">Erro marca</div>

    Modelo:     <input th:field="*{modelo}"     type="text">
    <div th:errors="*{modelo}">Erro modelo</div>

    Fornecedor: <input th:field="*{fornecedor}" type="text">
    <div th:errors="*{fornecedor}">Erro fornecedor</div>

    Polegadas:  <input th:field="*{polegadas}"  type="text">
    <div th:errors="*{polegadas}">Erro polegadas</div>
</div>