<!--suppress ALL -->

<div th:fragment="mensagem">
    <div id="success-message" th:if="${SUCESSO}">
        <img th:src="@{/images/success-icon.svg}" alt="Ícone de Sucesso"/>
        <span th:text="${SUCESSO}"></span>
    </div>

    <div id="error-message" th:if="${ERRO}">
        <img th:src="@{/images/error-icon.svg}" alt="Ícone de Erro"/>
        <span th:text="${ERRO}"></span>
    </div>
</div>

<div th:fragment="CENS-GIO" id="CENS-GIO">CENS-GIO</div>

<div th:fragment="menu">
    <nav>
        <ul class="list-group" id="sidebar-menu">
            <li class="list-group-item sidebar-item"><a th:href="@{/home}">Home</a></li>
            <li class="list-group-item sidebar-item"><a th:href="@{/emprestimos}">Empréstimo</a></li>
            <li class="list-group-item sidebar-item"><a th:href="@{/equipamentos}">Equipamento</a></li>
            <li class="list-group-item sidebar-item"><a th:href="@{/colaboradores}">Colaborador</a></li>
            <li class="list-group-item sidebar-item"><a th:href="@{/imagens}">Imagem</a></li>
            <li class="list-group-item sidebar-item"><a th:href="@{/programas}">Programa</a></li>
            <li class="list-group-item sidebar-item"><a th:href="@{/ocorrencias}">Ocorrencia</a></li>
            <li class="list-group-item sidebar-item"><a th:href="@{/licencas}">Licenca</a></li>
            <li class="list-group-item sidebar-item"><a th:href="@{/contratosDeEquipamentoDeTerceiro}">Contrato de equipamentos de terceiros</a></li>
            <li class="list-group-item sidebar-item"><a th:href="@{/localizacoes}">Localizacao</a></li>
            <li class="list-group-item sidebar-item"><a th:href="@{/notasFiscais}">Notas fiscal</a></li>
            <li class="list-group-item sidebar-item"><a th:href="@{/regimesDeTrabalho}">Regime de trabalho</a></li>
            <li class="list-group-item sidebar-item"><a th:href="@{/tiposDeAcesso}">Tipo de acesso</a></li>
            <li class="list-group-item sidebar-item"><a th:href="@{/tiposDeColaborador}">Tipo de colaborador</a></li>
            <li class="list-group-item sidebar-item"><a th:href="@{/tiposDeEquipamento}">Tipo de equipamento</a></li>
            <li class="list-group-item sidebar-item"><a th:href="@{/setores}">Setor</a></li>
            <li class="list-group-item sidebar-item"><a th:href="@{/logout}">Sair</a></li>
        </ul>
    </nav>
</div>

