<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tipo de equipamento</title>
</head>
<body>
  <div th:each="tipoEquipamento : ${tiposDeEquipamento}">
    <p>
      <div>
        Descricao:  <span th:text="${tipoEquipamento.descricao}"></span>
        Marca:      <span th:text="${tipoEquipamento.marca}"></span>
        Modelo:     <span th:text="${tipoEquipamento.modelo}"></span>
        Fornecedor: <span th:text="${tipoEquipamento.fornecedor}"></span>
        Polegadas:  <span th:text="${tipoEquipamento.polegadas}"></span>

        <form th:action="@{tiposDeEquipamento/delete/{id}(id=${tipoEquipamento.id})}" method="post">
          <button type="submit"> Deletar </button>
        </form>
      </div>
    </p>
  </div>

  <p><a href="/tiposDeEquipamento/cadastrar">Cadastrar novo tipo de equipamento</a></p>
</body>
</html>