<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="~{colaborador/layoutBaseColaborador :: head}"></head>
  <body>
    <div class="sidebar">
      <div th:replace="~{layoutBase :: mensagem}"></div>
      <div th:replace="~{layoutBase :: CENS-GIO}"></div>
      <div th:replace="~{layoutBase :: menu}"></div>
    </div>

    <div class="body">
      <h4 id="body-title">Colaboradores</h4>
      <form class="register-div" th:object="${colaboradorDto}" method="post" th:action="@{/colaboradores}">
        <div th:replace="~{colaborador/layoutBaseColaborador :: form}"></div>
        <h5 id="fields-message">*Campos obrigatórios</h5>
        <button id="submit-btn" type="submit"> Salvar </button>
      </form>

      Filtros
      <form class="register-div" th:object="${filtrarColaboradorDto}" method="post" th:action="@{/colaboradores/filtrar}">
        <div th:replace="~{colaborador/layoutBaseColaborador :: form}"></div>
        <button id="submit-btn" type="submit"> Buscar </button>
      </form>

      Quantidade: <div th:text="${listaDeColaboradores.getTotalElements}"></div>

      <div th:each="colaborador : ${listaDeColaboradores}">
        <p>
        <div>

        Registro de funcionário (RF):   <span th:text="${colaborador.rf}"></span>
        Nome:                           <span th:text="${colaborador.nome}"></span>
        Imagem:                         <span th:text="${colaborador.imagem}"></span>
        Tipo de Acesso:                 <span th:text="${colaborador.tipoAcesso}"></span>
        Tipo de Colaborador:            <span th:text="${colaborador.tipoColaborador}"></span>
        Regime de Trabalho:             <span th:text="${colaborador.regimeTrabalho}"></span>
        Ativo:                          <span th:text="${colaborador.ativo}"></span>

          <form action="#" th:action="@{/colaboradores/delete/{id}(id=${colaborador.id})}" method="post">
            <button type="submit"> Deletar </button>
          </form>

          <form th:action="@{/colaboradores/update/{id}(id=${colaborador.id})}" method="get">
            <button type="submit"> Editar </button>
          </form>
        </div>
        </p>
      </div>
    </div>
  </body>
</html>