<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="~{equipamento/layoutBaseEquipamento :: head}"></head>
  <body>
    <div class="sidebar">
      <div th:replace="~{layoutBase :: mensagem}"></div>
      <div th:replace="~{layoutBase :: CENS-GIO}"></div>
      <div th:replace="~{layoutBase :: menu}"></div>
    </div>

    <div class="body">
      <h4 id="body-title">Equipamentos</h4>
      <form class="register-div" th:object="${equipamentoDto}" method="post" th:action="@{/equipamentos}">
        <div th:replace="~{equipamento/layoutBaseEquipamento :: form}"></div>
        <h5 id="fields-message">*Campos obrigatórios</h5>
        <button id="submit-btn" type="submit"> Salvar </button>
      </form>

      <h5 id="filters-title">Filtros</h5>
      <form class="register-div" th:object="${filtrarEquipamentoDto}" method="post" th:action="@{/equipamentos/filtrar}">
        <div th:replace="~{equipamento/layoutBaseEquipamento :: form}"></div>
        <button id="submit-btn" type="submit"> Buscar </button>
      </form>

      <div class="input-group mb-3 quantity-div">
        <span class="input-group-text">Quantidade</span>
        <div class="form-control quantity-num" th:text="${listaDeEquipamentos.getTotalElements}"></div>
      </div>

      <table class="table itens-table">
        <thead id="itens-head">
          <tr>
            <th scope="col">Número de série</th>
            <th scope="col">Número de patrimonio</th>
            <th scope="col">Observacao</th>
            <th scope="col">Tipo de Equipamento</th>
            <th scope="col">Nota fiscal</th>
            <th scope="col">Localizacao</th>
            <th scope="col">Contrato de equipamento de terceiro</th>
            <th scope="col">Ativo</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-item" th:each="equipamento : ${listaDeEquipamentos}">
            <td><span th:text="${equipamento.serial}"></span></td>
            <td><span th:text="${equipamento.numPatrimonio}"></span></td>
            <td><span th:text="${equipamento.observacao}"></span></td>
            <td><span th:text="${equipamento.tipoEquipamento}"></span></td>
            <td><span th:text="${equipamento.notaFiscal}"></span></td>
            <td><span th:text="${equipamento.localizacao}"></span></td>
            <td><span th:text="${equipamento.contratoDeEquipamentoDeTerceiro}"></span></td>
            <td><span th:text="${equipamento.ativo}"></span></td>
            <td class="item-buttons">
              <form action="#" th:action="@{/equipamentos/delete/{id}(id=${equipamento.id})}" method="post">
                <button class="item-button" type="submit"><img th:src="@{/images/delete-icon.svg}" alt="Ícone de Deletar"/></button>
              </form>

              <form th:action="@{/equipamentos/update/{id}(id=${equipamento.id})}" method="get">
                <button class="item-button" type="submit"><img th:src="@{/images/edit-icon.svg}" alt="Ícone de Editar"/></button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>