<!--suppress ALL -->
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Equipamentos</title>
</head>

<div th:fragment="form">

    Número de série:  <input th:field="*{serial}"  type="text">
    <div th:errors="*{serial}">Erro serial</div>

    Número de patrimonio:  <input th:field="*{numPatrimonio}"  type="text">
    <div th:errors="*{numPatrimonio}">Erro numPatrimonio</div>

    Observaçao:  <input th:field="*{observacao}"  type="text">
    <div th:errors="*{observacao}">Erro observacao</div>

    Tipo de Equipamento:
    <select th:field="*{tipoEquipamentoId}">
        <option value="-1">Selecione...</option>
        <option th:each="tipoEquipamento : ${listaDeTiposDeEquipamento}" th:value="${tipoEquipamento.id}" th:text="${tipoEquipamento.descricao}"/>
    </select>
    <div th:errors="*{tipoEquipamentoId}">Erro tipoEquipamentoId</div>

    Nota Fiscal:
    <select th:field="*{notaFiscalId}">
        <option value="-1">Selecione...</option>
        <option th:each="notaFiscal : ${listaDeNotasFiscais}" th:value="${notaFiscal.id}" th:text="${notaFiscal.numero}"/>
    </select>
    <div th:errors="*{notaFiscalId}">Erro notaFiscalId</div>

    Localizaçao
    <select th:field="*{localizacaoId}">
        <option value="-1">Selecione...</option>
        <option th:each="localizacao : ${listaDeLocalizacoes}" th:value="${localizacao.id}" th:text="${localizacao.predio}"/>
    </select>
    <div th:errors="*{localizacaoId}">Erro localizacaoId</div>

    Contrato de equipamento de terceiro
    <select th:field="*{contratoEquipamentoTerceiroId}">
        <option value="-1">Selecione...</option>
        <option th:each="contratoEquipamentoTerceiro : ${listaDeContratosDeEquipamentosDeTerceiros}" th:value="${contratoEquipamentoTerceiro.id}" th:text="${contratoEquipamentoTerceiro.fornecedor}"/>
    </select>
    <div th:errors="*{contratoEquipamentoTerceiroId}">Erro contratoEquipamentoTerceiroId</div>
</div>

