<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="~{regimeTrabalho/layoutBaseRegimeTrabalho :: head}"></head>
  <body>
    <div class="sidebar">
      <div th:replace="~{layoutBase :: mensagem}"></div>
      <div th:replace="~{layoutBase :: CENS-GIO}"></div>
      <div th:replace="~{layoutBase :: menu}"></div>
    </div>

    <div class="body">
      <h4 id="body-title">Regimes de trabalho</h4>
      <form class="register-div" th:object="${regimeTrabalhoDto}" method="post" th:action="@{/regimesDeTrabalho}">
        <div th:replace="~{regimeTrabalho/layoutBaseRegimeTrabalho :: form}"></div>
        <h5 id="fields-message">*Campos obrigatórios</h5>
        <button id="submit-btn" type="submit"> Salvar </button>
      </form>

      <h5 id="filters-title">Filtros</h5>
      <form class="register-div" th:object="${filtrarRegimeTrabalhoDto}" method="post" th:action="@{/regimesDeTrabalho/filtrar}">
        <div th:replace="~{regimeTrabalho/layoutBaseRegimeTrabalho :: form}"></div>
        <button id="submit-btn" type="submit"> Buscar </button>
      </form>

      <div class="input-group mb-3 quantity-div">
        <span class="input-group-text">Quantidade</span>
        <div class="form-control quantity-num" th:text="${listaDeRegimesDeTrabalho.getTotalElements}"></div>
      </div>

      <div th:each="regimeTrabalho : ${listaDeRegimesDeTrabalho}">
        <p>
        <div>

        Descricao:  <span th:text="${regimeTrabalho.descricao}"></span>
        Ativo:      <span th:text="${regimeTrabalho.ativo}"></span>

          <form action="#" th:action="@{/regimesDeTrabalho/delete/{id}(id=${regimeTrabalho.id})}" method="post">
            <button type="submit"> Deletar </button>
          </form>

          <form th:action="@{/regimesDeTrabalho/update/{id}(id=${regimeTrabalho.id})}" method="get">
            <button type="submit"> Editar </button>
          </form>
        </div>
        </p>
      </div>
    </div>
  </body>
</html>