<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="~{emprestimo/layoutBaseEmprestimo :: head}"></head>
  <body>
    <div class="sidebar">
      <div th:replace="~{layoutBase :: mensagem}"></div>
      <div th:replace="~{layoutBase :: CENS-GIO}"></div>
      <div th:replace="~{layoutBase :: menu}"></div>
    </div>

    <div class="body">
      <h4 id="body-title">Empréstimos</h4>
      <form class="register-div" th:object="${emprestimoDto}" method="post" th:action="@{/emprestimos}">
        <div th:replace="~{emprestimo/layoutBaseEmprestimo :: form}"></div>
        <h5 id="fields-message">*Campos obrigatórios</h5>
        <button id="submit-btn" type="submit"> Salvar </button>
      </form>

      <h5 id="filters-title">Filtros</h5>
      <form class="register-div" th:object="${filtrarEmprestimoDto}" method="post" th:action="@{/emprestimos/filtrar}">
        <div th:replace="~{emprestimo/layoutBaseEmprestimo :: filter-form}"></div>
        <button id="submit-btn" type="submit"> Buscar </button>
      </form>

      <div class="input-group mb-3 quantity-div">
        <span class="input-group-text">Quantidade</span>
        <div class="form-control quantity-num" th:text="${listaDeEmprestimos.getTotalElements}"></div>
      </div>

      <table class="table itens-table">
        <thead id="itens-head">
          <tr>
            <th scope="col">Data de Disponibilização</th>
            <th scope="col">Data de Devolução</th>
            <th scope="col">Colaborador</th>
            <th scope="col">Equipamento</th>
            <th scope="col">Finalidade</th>
            <th scope="col">Responsável pela entrega</th>
            <th scope="col">Ativo</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-item" th:each="emprestimo : ${listaDeEmprestimos}">
            <td><span th:text="${emprestimo.dataDisponibilizacao}"></span></td>
            <td><span th:text="${emprestimo.dataDevolucao}"></span></td>
            <td><span th:text="${emprestimo.colaborador}"></span></td>
            <td><span th:text="${emprestimo.equipamento}"></span></td>
            <td><span th:text="${emprestimo.finalidade}"></span></td>
            <td><span th:text="${emprestimo.respEntrega}"></span></td>
            <td><span th:text="${emprestimo.ativo}"></span></td>
            <td class="item-buttons">
              <form action="#" th:action="@{/emprestimos/delete/{id}(id=${emprestimo.id})}" method="post">
                <button class="item-button" type="submit"><img th:src="@{/images/delete-icon.svg}" alt="Ícone de Deletar"/></button>
              </form>

              <form th:action="@{/emprestimos/update/{id}(id=${emprestimo.id})}" method="get">
                <button class="item-button" type="submit"><img th:src="@{/images/edit-icon.svg}" alt="Ícone de Editar"/></button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>