<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="~{emprestimo/layoutBaseEmprestimo :: head}"></head>
  <body>
    <div class="sidebar">
      <div th:replace="~{layoutBase :: mensagem}"></div>
      <div th:replace="~{layoutBase :: CENS-GIO}"></div>
      <div th:replace="~{layoutBase :: menu}"></div>
    </div>

    <div class="body">
      <h4 id="body-title">Empréstimos</h4>
      <form class="register-div" th:object="${emprestimoDto}" method="post" th:action="@{/emprestimos}">
        <div th:replace="~{emprestimo/layoutBaseEmprestimo :: form}"></div>
        <h5 id="fields-message">*Campos obrigatórios</h5>
        <button id="submit-btn" type="submit"> Salvar </button>
      </form>

      <h5 id="filters-title">Filtros</h5>
      <form class="register-div" th:object="${filtrarEmprestimoDto}" method="post" th:action="@{/emprestimos/filtrar}">
        <div th:replace="~{emprestimo/layoutBaseEmprestimo :: filter-form}"></div>
        <button id="submit-btn" type="submit"> Buscar </button>
      </form>

      <div class="input-group mb-3 quantity-div">
        <span class="input-group-text">Quantidade</span>
        <div class="form-control quantity-num" th:text="${listaDeEmprestimos.getTotalElements}"></div>
      </div>

      <div th:each="emprestimo : ${listaDeEmprestimos}">
        <p>
        <div>

          Data de Disponibilizacao:   <span th:text="${emprestimo.dataDisponibilizacao}"></span>
          Data de Devolucao:          <span th:text="${emprestimo.dataDevolucao}"></span>
          Colaborador:                <span th:text="${emprestimo.colaborador}"></span>
          Equipamento:                <span th:text="${emprestimo.equipamento}"></span>
          Finalidade:                 <span th:text="${emprestimo.finalidade}"></span>
          Responsável pela entrega:   <span th:text="${emprestimo.respEntrega}"></span>
          Ativo:                      <span th:text="${emprestimo.ativo}"></span>

          <form action="#" th:action="@{/emprestimos/delete/{id}(id=${emprestimo.id})}" method="post">
            <button type="submit"> Deletar </button>
          </form>

          <form th:action="@{/emprestimos/update/{id}(id=${emprestimo.id})}" method="get">
            <button type="submit"> Editar </button>
          </form>
        </div>
        </p>
      </div>
    </div>
  </body>
</html>