<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="~{imagem/layoutBaseImagem :: head}"></head>
  <body>
    <div class="sidebar">
      <div th:replace="~{layoutBase :: mensagem}"></div>
      <div th:replace="~{layoutBase :: CENS-GIO}"></div>
      <div th:replace="~{layoutBase :: menu}"></div>
    </div>

    <div class="body">
      <form class="register-div" th:object="${addProgramaNaImagemDto}" method="post">
        <div class="mb-3">
          <label for="programaId" class="form-label register-label">Programa:</label>
          <select th:field="*{programaId}" class="form-select" id="programaId">
              <option value="-1">Selecione...</option>
              <option th:each="programa : ${listaDeProgramas}" th:value="${programa.id}" th:text="${programa.descricao}"></option>
          </select>
          <div th:errors="*{programaId}" class="error-feedback">Erro programaId</div>
        </div>

        <button id="submit-btn" type="submit"> Adicionar </button>
      </form>

      <h5 id="filters-title">Programas</h5>
      <table class="table itens-table">
        <thead id="itens-head">
          <tr>
            <th scope="col">Descrição</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-item" th:each="programaImagem : ${listarProgramasDaImagemDto}">
            <td><span th:text="${programaImagem.descricao}"></span></td>
            <td class="item-buttons">
              <form action="#" th:action="@{/imagens/update/{id}/removePrograma/{programaId}(id=${programaImagem.imagemId}, programaId=${programaImagem.id})}" method="post">
                <button class="item-button" type="submit"><img th:src="@{/images/delete-icon.svg}" alt="Ícone de Deletar"/></button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>