<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="~{tipoEquipamento/layoutBaseTipoEquipamento :: head}"></head>
  <body>
    <div th:replace="~{layoutBase :: mensagem}"></div>
    <div th:replace="~{layoutBase :: menu}"></div>

    Formulário

    <form th:object="${tipoEquipamentoDto}" method="post">
      <div th:replace="~{tipoEquipamento/layoutBaseTipoEquipamento :: form}"></div>
      <button type="submit"> Atualizar </button>
    </form>

  </body>
</html>