<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="~{tipoEquipamento/layoutBaseTipoEquipamento :: head}"></head>
  <body>
    <div th:replace="~{layoutBase :: mensagem}"></div>

    Formulário
    <form th:object="${tipoEquipamentoDto}" method="post">
      <div th:replace="~{tipoEquipamento/layoutBaseTipoEquipamento :: form}"></div>
      <button type="submit"> Salvar </button>
    </form>

    <div th:each="tipoEquipamento : ${listaDeTiposDeEquipamento}">
      <p>
      <div>

        Descricao:  <span th:text="${tipoEquipamento.descricao}"></span>
        Marca:      <span th:text="${tipoEquipamento.marca}"></span>
        Modelo:     <span th:text="${tipoEquipamento.modelo}"></span>
        Fornecedor: <span th:text="${tipoEquipamento.fornecedor}"></span>
        Polegadas:  <span th:text="${tipoEquipamento.polegadas}"></span>

        <form action="#" th:action="@{tiposDeEquipamento/delete/{id}(id=${tipoEquipamento.id})}" method="post">
          <button type="submit"> Deletar </button>
        </form>

        <form th:action="@{tiposDeEquipamento/update/{id}(id=${tipoEquipamento.id})}" method="get">
          <button type="submit"> Editar </button>
        </form>
      </div>
      </p>
    </div>
  </body>
</html>