<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="~{tipoEquipamento/layoutBaseTipoEquipamento :: head}"></head>
  <body>
    <div class="sidebar">
      <div th:replace="~{layoutBase :: mensagem}"></div>
      <div th:replace="~{layoutBase :: CENS-GIO}"></div>
      <div th:replace="~{layoutBase :: menu}"></div>
    </div>

    <div class="body">
      <h4 id="body-title">Tipos de Equipamento</h4>
      <form class="register-div" th:object="${tipoEquipamentoDto}" method="post" th:action="@{/tiposDeEquipamento}">
        <div th:replace="~{tipoEquipamento/layoutBaseTipoEquipamento :: form}"></div>
        <h5 id="fields-message">*Campos obrigatórios</h5>
        <button id="submit-btn" type="submit"> Salvar </button>
      </form>

      <h5 id="filters-title">Filtros</h5>
      <form class="register-div" th:object="${filtrarTipoEquipamentoDto}" method="post" th:action="@{/tiposDeEquipamento/filtrar}">
        <div th:replace="~{tipoEquipamento/layoutBaseTipoEquipamento :: form}"></div>
        <button id="submit-btn" type="submit"> Buscar </button>
      </form>

      <div class="input-group mb-3 quantity-div">
        <span class="input-group-text">Quantidade</span>
        <div class="form-control quantity-num" th:text="${listaDeTiposDeEquipamento.getTotalElements}"></div>
      </div>

      <div th:each="tipoEquipamento : ${listaDeTiposDeEquipamento}">
        <p>
        <div>

        Descricao:  <span th:text="${tipoEquipamento.descricao}"></span>
        Marca:      <span th:text="${tipoEquipamento.marca}"></span>
        Modelo:     <span th:text="${tipoEquipamento.modelo}"></span>
        Fornecedor: <span th:text="${tipoEquipamento.fornecedor}"></span>
        Polegadas:  <span th:text="${tipoEquipamento.polegadas}"></span>
        Ativo:      <span th:text="${tipoEquipamento.ativo}"></span>

          <form action="#" th:action="@{/tiposDeEquipamento/delete/{id}(id=${tipoEquipamento.id})}" method="post">
            <button type="submit"> Deletar </button>
          </form>

          <form th:action="@{/tiposDeEquipamento/update/{id}(id=${tipoEquipamento.id})}" method="get">
            <button type="submit"> Editar </button>
          </form>
        </div>
        </p>
      </div>
    </div>
  </body>
</html>