<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="~{ocorrencia/layoutBaseOcorrencia :: head}"></head>
  <body>
    <div class="sidebar">
      <div th:replace="~{layoutBase :: mensagem}"></div>
      <div th:replace="~{layoutBase :: CENS-GIO}"></div>
      <div th:replace="~{layoutBase :: menu}"></div>
    </div>

    <div class="body">
      <h4 id="body-title">Ocorrências</h4>
      <form class="register-div" th:object="${ocorrenciaDto}" method="post" th:action="@{/ocorrencias}">
        <div th:replace="~{ocorrencia/layoutBaseOcorrencia :: form}"></div>
        <h5 id="fields-message">*Campos obrigatórios</h5>
        <button id="submit-btn" type="submit"> Salvar </button>
      </form>

      <h5 id="filters-title">Filtros</h5>
      <form class="register-div" th:object="${filtrarOcorrenciaDto}" method="post" th:action="@{/ocorrencias/filtrar}">
        <div th:replace="~{ocorrencia/layoutBaseOcorrencia :: form}"></div>
        <button id="submit-btn" type="submit"> Buscar </button>
      </form>

      <div class="input-group mb-3 quantity-div">
        <span class="input-group-text">Quantidade</span>
        <div class="form-control quantity-num" th:text="${listaDeOcorrencias.getTotalElements}"></div>
      </div>

      <div th:each="ocorrencia : ${listaDeOcorrencias}">
        <p>
        <div>

        OS:              <span th:text="${ocorrencia.os}"></span>
        Descriçao:       <span th:text="${ocorrencia.descricao}"></span>
        Colaborador:     <span th:text="${ocorrencia.colaborador}"></span>
        Equipamento:     <span th:text="${ocorrencia.equipamento}"></span>
        Ativo:           <span th:text="${ocorrencia.ativo}"></span>

          <form action="#" th:action="@{/ocorrencias/delete/{id}(id=${ocorrencia.id})}" method="post">
            <button type="submit"> Deletar </button>
          </form>

          <form th:action="@{/ocorrencias/update/{id}(id=${ocorrencia.id})}" method="get">
            <button type="submit"> Editar </button>
          </form>
        </div>
        </p>
      </div>
    </div>
  </body>
</html>