body {
    display: grid;
    grid: "sidebar body" 1fr / auto 1fr;
    gap: 8px;
    height: 100vh;
    background-color: #f8f6f6;
}

.body {
    grid-area: body;
    padding: 0 2.5vh;
}

#body-title {
    padding-top: 2vh;
    color: #716c6c;
    font-weight: 400;
    margin-bottom: 6vh;
}

.register-div {
    background-color: white;
    border: solid 2px #e9e4e4;
    border-radius: 7px;
    padding: 3vh;
    display: grid;
}

.register-form {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.register-label {
    font-size: small;
    font-weight: bold;
}

#submit-btn {
    border: none;
    padding: 3px 3vh;
    border-radius: 6px;
    background-color: #2be5c3;
    font-weight: 500;
    justify-self: flex-end;
}

.error-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: var(--bs-form-invalid-color);
}

#fields-message {
    font-size: small;
    opacity: 0.6;
}

#filters-title {
    padding-top: 2vh;
    color: #716c6c;
    font-weight: 400;
}

.quantity-div {
    padding-top: 2vh;
}

.quantity-num {
    max-width: fit-content;
}

.itens-table {
    overflow: hidden;
    border-collapse: collapse;
    border-radius: 1vh;
}

#itens-head {
    background-color: #e9e4e4;
    border-bottom: 2px solid #bcbcbc;
    vertical-align: middle;
}

.table-item {
    background-color: white;
    border-bottom: solid 1.5px #e9e4e4;
}

.table-item:hover {
    background-color: #f4f1f1;
}

.item-buttons {
    display: flex;
    gap: 1vh;
    justify-content: flex-end;
    border: none;
}

.item-button {
    border: none;
    background: none;
}