<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="~{licenca/layoutBaseLicenca :: head}"></head>
  <body>
    <div class="sidebar">
      <div th:replace="~{layoutBase :: mensagem}"></div>
      <div th:replace="~{layoutBase :: CENS-GIO}"></div>
      <div th:replace="~{layoutBase :: menu}"></div>
    </div>

    <div class="body">
      <h4 id="body-title">Licenças</h4>
      <form class="register-div" th:object="${licencaDto}" method="post" th:action="@{/licencas}">
        <div th:replace="~{licenca/layoutBaseLicenca :: form}"></div>
        <h5 id="fields-message">*Campos obrigatórios</h5>
        <button id="submit-btn" type="submit"> Salvar </button>
      </form>

      Filtros
      <form class="register-div" th:object="${filtrarLicencaDto}" method="post" th:action="@{/licencas/filtrar}">
        <div th:replace="~{licenca/layoutBaseLicenca :: form}"></div>
        <button id="submit-btn" type="submit"> Buscar </button>
      </form>

      Quantidade: <div th:text="${listaDeLicencas.getTotalElements}"></div>

      <div th:each="licenca : ${listaDeLicencas}">
        <p>
        <div>

        Descricao:  <span th:text="${licenca.descricao}"></span>
        Ativo:      <span th:text="${licenca.ativo}"></span>

          <form action="#" th:action="@{/licencas/delete/{id}(id=${licenca.id})}" method="post">
            <button type="submit"> Deletar </button>
          </form>

          <form th:action="@{/licencas/update/{id}(id=${licenca.id})}" method="get">
            <button type="submit"> Editar </button>
          </form>
        </div>
        </p>
      </div>
    </div>
  </body>
</html>