<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="~{licenca/layoutBaseLicenca :: head}"></head>
  <body>
    <div class="sidebar">
      <div th:replace="~{layoutBase :: mensagem}"></div>
      <div th:replace="~{layoutBase :: CENS-GIO}"></div>
      <div th:replace="~{layoutBase :: menu}"></div>
    </div>

    <div class="body">
      <h4 id="body-title">Licenças</h4>
      <form class="register-div" th:object="${licencaDto}" method="post" th:action="@{/licencas}">
        <div th:replace="~{licenca/layoutBaseLicenca :: form}"></div>
        <h5 id="fields-message">*Campos obrigatórios</h5>
        <button id="submit-btn" type="submit"> Salvar </button>
      </form>

      <h5 id="filters-title">Filtros</h5>
      <form class="register-div" th:object="${filtrarLicencaDto}" method="post" th:action="@{/licencas/filtrar}">
        <div th:replace="~{licenca/layoutBaseLicenca :: form}"></div>
        <button id="submit-btn" type="submit"> Buscar </button>
      </form>

      <div class="input-group mb-3 quantity-div">
        <span class="input-group-text">Quantidade</span>
        <div class="form-control quantity-num" th:text="${listaDeLicencas.getTotalElements}"></div>
      </div>

      <table class="table itens-table">
        <thead id="itens-head">
          <tr>
            <th scope="col">Descrição</th>
            <th scope="col">Ativo</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-item" th:each="licenca : ${listaDeLicencas}">
            <td><span th:text="${licenca.descricao}"></span></td>
            <td><span th:text="${licenca.ativo}"></span></td>
            <td class="item-buttons">
              <form action="#" th:action="@{/licencas/delete/{id}(id=${licenca.id})}" method="post">
                <button class="item-button" type="submit"><img th:src="@{/images/delete-icon.svg}" alt="Ícone de Deletar"/></button>
              </form>

              <form th:action="@{/licencas/update/{id}(id=${licenca.id})}" method="get">
                <button class="item-button" type="submit"><img th:src="@{/images/edit-icon.svg}" alt="Ícone de Editar"/></button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>