<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="~{programa/layoutBasePrograma :: head}"></head>
  <body>
    <div class="sidebar">
      <div th:replace="~{layoutBase :: mensagem}"></div>
      <div th:replace="~{layoutBase :: CENS-GIO}"></div>
      <div th:replace="~{layoutBase :: menu}"></div>
    </div>

    <div class="body">
      <h4 id="body-title">Programas</h4>
      <form class="register-div" th:object="${programaDto}" method="post">
        <div th:replace="~{programa/layoutBasePrograma :: form}"></div>
        <h5 id="fields-message">*Campos obrigatórios</h5>
        <button id="submit-btn" type="submit"> Salvar </button>
      </form>

      <div th:each="programa : ${listaDeProgramas}">
        <p>
        <div>

          Descricao:   <span th:text="${programa.descricao}"></span>
          Observaçao:  <span th:text="${programa.observacao}"></span>
          Licença:     <span th:text="${programa.licenca}"></span>
          Ativo:       <span th:text="${programa.ativo}"></span>

          <form action="#" th:action="@{programas/delete/{id}(id=${programa.id})}" method="post">
            <button type="submit"> Deletar </button>
          </form>

          <form th:action="@{programas/update/{id}(id=${programa.id})}" method="get">
            <button type="submit"> Editar </button>
          </form>
        </div>
        </p>
      </div>
    </div>
  </body>
</html>